.player {
    min-height: 20vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
}

.time-control {
    width:50%;
    background:lightcoral;
    display:flex;
    justify-content:space-between;
    input {
        width:100%;
        padding: 1rem 0;
    }
    p {
        padding: 1rem;
    }
}

.play-control {
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem;
    border:3px solid blue;
    width:50%;
    svg {
        cursor:pointer;
    }

}

.duration-p {
    text-shadow: 1px 1px 50px red, 0 0 10px blue, 0 0 10px blue;
}
.duration-p span {
    color:transparent;
    opacity:0.3;
    // text-shadow:0 0 55px black, -4px, 2px 4px blue;

    
    
}

.duration-p.duration-appear span{
    color:black;
    transition: 400ms;
    opacity:1;
    text-shadow:none;
}